{% extends "base.html" %}

{% block title %}Add Transaction | Budget Tracker{% endblock %}

{% block content %}
<div class="container mt-4">
    <h2>Add Transaction</h2>

    <form method="post">
        {{ form.hidden_tag() }}

        <div class="mb-3">
            {{ form.description.label(class="form-label") }}
            {{ form.description(class="form-control")}}
            {% for error in form.description.errors %}
            <div class="text-danger">{{ error }}</div>
            {% endfor %}
        </div>

        <div class="mb-3">
            {{ form.amount.label(class="form-label") }}
            {{ form.amount(class="form-control") }}
            {% for error in form.amount.errors %}
            <div class="text-danger">{{ error }}</div>
            {% endfor %}
        </div>
        <div class="mb-3">
            {{ form.date.label(class="form-label") }}
            {{ form.date(class="form-control") }}
            {% for error in form.date.errors %}
            <div class="text-danger">{{ error }}</div>
            {% endfor %}
        </div>
        <div class="mb-3">
            {{ form.category_id.label(class="form-label") }}
            {{ form.category_id(class="form-control") }}
            {% for error in form.category_id.errors %}
            <div class="text-danger">{{ error }}</div>
            {% endfor %}
        </div>

        {{ form.submit(class='btn btn-primary') }}
    </form>

</div>
{% endblock %}